@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-Regular/Averta-Regular.woff") format("woff"), url("../fonts/Averta-Regular/Averta-Regular.eot") format("opentype"), url("../fonts/Averta-Regular/Averta-Regular.ttf") format("truetype"), url("../fonts/Averta-Regular/Averta-Regular.svg#Averta-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-Semibold/Averta-Semibold.woff") format("woff"), url("../fonts/Averta-Semibold/Averta-Semibold.eot") format("opentype"), url("../fonts/Averta-Semibold/Averta-Semibold.ttf") format("truetype"), url("../fonts/Averta-Semibold/Averta-Semibold.svg#Averta-Semibold") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averta";
  src: url("../fonts/Averta-Bold/Averta-Bold.woff") format("woff"), url("../fonts/Averta-Bold/Averta-Bold.eot") format("opentype"), url("../fonts/Averta-Bold/Averta-Bold.ttf") format("truetype"), url("../fonts/Averta-Bold/Averta-Bold.svg#Averta-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  color: #5b5863 !important;
  box-shadow: none !important;
  outline: none !important;
  height: auto;
}

input.form-control,
textarea.form-control,
select.form-control {
  height: auto;
}

input ::placeholder,
textarea ::placeholder,
select ::placeholder {
  color: #8d8b92;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
select:focus::-webkit-input-placeholder {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  box-shadow: none;
  outline: none;
}

.referral-bar {
  background-color: #fd3e72;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  position: relative;
  z-index: 2;
  display: none;
}

.referral-bar p {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fafafa;
  margin: 0 10px;
}

#zdbutton {
  padding: 0.6rem 1.57143rem;
  border-radius: 999rem;
  background-color: #fd3e72;
  color: #ffffff;
  position: fixed;
  bottom: 15px;
  right: 15px;
  letter-spacing: 0.6px;
  font-size: 1rem;
  border: none;
  font-weight: 700;
  z-index: 9999;
  box-shadow: inset 0 0 0 0.21429rem rgba(255, 255, 255, 0.4);
}

@media (max-width: 767px) {
  #zdbutton {
    padding: 7px 20px;
  }
}

.fw-500 {
  font-weight: 500;
}

.h-70 {
  height: 70px !important;
}

.new-green-tag {
  font-size: 11px;
  line-height: 12px;
  padding: 3px 5px;
  display: inline-block;
  text-transform: uppercase;
  background: linear-gradient(88.46deg, #08AE7E 33.06%, #0BDFA2 104.26%);
  border-radius: 9px 9px 9px 0px;
  color: #fff;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.wevpn-link {
  color: #fd3e72;
  text-decoration: underline !important;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.wevpn-link i,
.wevpn-link svg {
  font-weight: bold;
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
}

.wevpn-link:hover {
  color: #e33866 !important;
  text-decoration: none !important;
}

.wevpn-link:hover i,
.wevpn-link:hover svg {
  transform: translateX(3px);
}

.mainColor {
  color: #fd3e72;
}

.copy-ip {
  background: #fd3e72;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
}

.copy-ip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.copy-ip .tooltiptext {
  visibility: hidden;
  background-color: #4f4f4f;
  font-size: 12px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 3px 11px;
  position: absolute;
  z-index: 1;
  bottom: 115%;
  left: 50%;
  transform: translatex(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 767px) {
  .copy-ip .tooltiptext {
    font-size: 12px;
    padding: 4px 8px;
  }
}

.copy-ip .tooltiptext.changed {
  background-color: #08ae7e;
}

.copy-ip .tooltiptext.changed:after {
  border-color: #08ae7e transparent transparent transparent;
}

.copy-ip .tooltiptext:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4f4f4f transparent transparent transparent;
}

.main-bg {
  background-color: #f9f8f4;
}

select {
  background: url(../imgs/Arrow.png) no-repeat right;
  -webkit-appearance: none;
}

select:invalid {
  color: #8d8b92;
}

select option:first-child {
  color: #8d8b92;
}

select:invalid option:not(:first-child) {
  color: #5b5863;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.bull {
  color: #c1c0c4;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

body {
  font-family: "Averta", "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
  overflow-x: hidden;
  color: #5b5863;
  background-color: #f9f8f4;
}

body.body-dashboard {
  background-color: #f2f2ed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: bold;
}

p {
  margin-bottom: 0;
}

::selection {
  background-color: #5b5863;
  color: #fff;
}

a {
  color: #5b5863;
  text-decoration: none !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    position: relative;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
    position: relative;
  }
}

.wrapper {
  overflow: hidden;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* Change text in autofill textbox */
input:-webkit-autofill {
  -webkit-text-fill-color: #5b5863 !important;
}

.heading-medium {
  font-size: 36px;
  line-height: 44px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .heading-medium {
    font-size: 30px;
    line-height: 38px;
  }
}

@media (max-width: 767px) {
  .heading-medium {
    font-size: 24px;
    line-height: 28px;
  }
}

button:focus {
  box-shadow: none;
  outline: none;
}

body.overlay {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

body.overlay:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  margin: 0;
  overflow: hidden;
}

.arrow {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 13px;
  height: 21px;
  display: inline-block;
}

.arrow span {
  top: 10px;
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #acaaae;
  display: inline-block;
  transition: all 0.4s ease;
}

.arrow span:first-of-type {
  left: 0;
  transform: rotate(45deg);
}

.arrow span:last-of-type {
  right: 0;
  transform: rotate(-45deg);
}

h1 {
  font-size: 47px;
  line-height: 63px;
}

h2 {
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

h6 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.p-lg {
  font-size: 18px;
  line-height: 24px;
}

.p-md {
  font-size: 16px;
  line-height: 22px;
}

.p-sm {
  font-size: 14px;
  line-height: 20px;
}

.p-xs {
  font-size: 12px;
  line-height: 18px;
}

/* Start Header */
.top-header {
  position: relative;
  z-index: 3;
  padding: 8px 0;
  background-color: #fff;
  border-bottom: 1px solid #ebeae6;
  height: 33px;
}

.top-header.dark {
  border: 0;
  background-color: rgba(26, 40, 48, 0.95);
}

.top-header.dark .top-header-content ul li {
  color: #9c99a2;
}

.top-header.dark .top-header-content ul li span#location, .top-header.dark .top-header-content ul li span#ip, .top-header.dark .top-header-content ul li span#isp {
  color: #fff;
}

.top-header.fixed-top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.top-header .top-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a29cb0;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .top-header .top-header-content {
    flex-direction: column;
  }
}

.top-header .top-header-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 22px;
}

@media (max-width: 767px) {
  .top-header .top-header-content ul {
    margin-right: 0;
  }
}

.top-header .top-header-content ul li {
  font-size: 13px;
  line-height: 16px;
  color: #a29cb0;
}

.top-header .top-header-content ul li span:first-child {
  color: #A29CB0;
  text-decoration: none !important;
}

@media (max-width: 767px) {
  .top-header .top-header-content ul li {
    font-size: 12px;
  }
  .top-header .top-header-content ul li a {
    font-size: 12px;
  }
}

.top-header .top-header-content ul li .bull {
  color: #a29cb0;
  margin: 0 10px;
}

@media (max-width: 767px) {
  .top-header .top-header-content ul li .bull {
    margin: 0 4px;
  }
}

.top-header .top-header-content ul li .exposed {
  font-weight: 500;
}

.top-header .top-header-content ul li a span {
  text-decoration: underline !important;
  color: #fd3e72 !important;
}

.top-header .top-header-content a {
  text-decoration-line: underline !important;
  color: #fd3e72;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

.top-header .top-header-content a:hover {
  text-decoration: none !important;
}

.top-header .top-header-content a:hover i {
  transform: translateX(6px);
}

.top-header .top-header-content a:hover svg {
  transform: translateX(6px);
}

.top-header .top-header-content a svg {
  transform: translateX(4px);
  transition: 0.3s;
}

.top-header .top-header-content a i {
  transform: translateX(4px);
  transition: 0.3s;
}

header {
  position: relative;
}

header .logo-white {
  display: none;
}

header.get-started-page .container {
  border-bottom: 0 !important;
}

@media (max-width: 991px) {
  header.get-started-page .container {
    padding-bottom: 0 !important;
  }
}

header.homepage #nav-icon span {
  background-color: #fff;
}

header.homepage #nav-icon.open span:nth-child(1),
header.homepage #nav-icon.open span:nth-child(3) {
  background-color: #fd3e72;
}

header.homepage.dashboard-page p a:first-child {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

header.homepage.dashboard-page p a:first-child:hover {
  color: #fd3e72;
}

header.header-white .navbar-brand .logo-colored, header.homepage .navbar-brand .logo-colored {
  display: none;
}

header.header-white .navbar-brand .logo-white, header.homepage .navbar-brand .logo-white {
  display: inline-block;
}

header.header-white .navbar-light .navbar-nav .nav-link {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 991px) {
  header.header-white .navbar-light .navbar-nav .nav-link {
    color: #5b5863;
  }
}

header.header-white .dropdown-toggle::after {
  background-image: url(../imgs/arrow-w.png);
}

@media (max-width: 991px) {
  header.header-white .dropdown-toggle::after {
    background-image: url(../imgs/arrow.svg);
  }
}

header.header-white .navbar-light .navbar-nav .nav-link:focus,
header.header-white .navbar-light .navbar-nav .nav-link:hover {
  color: #fff !important;
  opacity: 0.8;
}

@media (max-width: 991px) {
  header.header-white .navbar-light .navbar-nav .nav-link:focus,
  header.header-white .navbar-light .navbar-nav .nav-link:hover {
    color: #5b5863 !important;
    opacity: 1;
  }
}

header.windows-header #nav-icon {
  background-color: #fff;
}

header .navbar-show-mobile {
  background-color: #fff !important;
  position: fixed !important;
}

header .navbar-show-mobile.white_logo .navbar-brand img.logo-colored {
  display: inline-block !important;
}

header .navbar-show-mobile.white_logo .navbar-brand img.logo-white {
  display: none !important;
}

header .navbar {
  padding: 13px 0;
  position: absolute;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid transparent;
}

@media (max-width: 991.98px) {
  header .navbar.navbar-expand-lg .container {
    padding-right: 0;
    padding-left: 0;
  }
}

header .navbar > div {
  width: 100%;
}

header .navbar .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header .navbar.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #ebe8df;
  animation: q 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes q {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

header .navbar.nav-fixed .login .login-item .login-link,
header .navbar.nav-fixed .navbar-nav .nav-link {
  color: #5b5863 !important;
}

header .navbar.nav-fixed .login .login-item .login-link:hover,
header .navbar.nav-fixed .navbar-nav .nav-link:hover {
  color: #fd3e72 !important;
}

header .navbar.nav-fixed .dropdown-toggle::after {
  background-image: url(../imgs/arrow.svg);
}

header .navbar.nav-fixed .login .login-item .get-started {
  background-color: #fd3e72 !important;
  color: #fff !important;
}

header .navbar.nav-fixed .login .login-item .get-started:hover {
  background-color: #e33866 !important;
}

header .navbar.nav-fixed .navbar-brand img.logo-white {
  display: none !important;
}

header .navbar.nav-fixed .navbar-brand img.logo-colored {
  display: block !important;
}

header .navbar.nav-fixed .get-started-login.color-bg-pages p a:first-child {
  color: #5b5863;
}

@media (max-width: 991px) {
  header .navbar.nav-fixed .get-started-login.color-bg-pages p a:first-child {
    padding: 12px 14px 12px 0;
    display: inline-block;
  }
}

header .navbar.nav-fixed #nav-icon span {
  background-color: #fd3e72;
}

header .navbar.nav-fixed .navbar-nav .active > .nav-link {
  color: #fd3e72 !important;
}

header .navbar.nav-fixed .container:after {
  display: none;
}

header .navbar .nav-item.dropdown > a:hover {
  cursor: text;
}

header .navbar .nav-item.dropdown.last > a:hover {
  cursor: pointer;
}

header .navbar .nav-item li .badge {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  padding: 4px 6px;
  border-radius: 3px;
  line-height: normal;
}

header .navbar .nav-item li .badge-secondary {
  background-color: #b3b3b3;
}

header .navbar .nav-item li .badge-danger {
  background-color: #fd3e72;
}

@media (min-width: 992px) {
  header .navbar .nav-item.dropdown {
    position: relative;
  }
  header .navbar .nav-item.dropdown:hover .dropdown--menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  header .navbar .nav-item.dropdown:hover .dropdown-toggle::after {
    transform: rotate(180deg);
  }
  header .navbar .nav-item.dropdown .dropdown--menu {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity, transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #e2e0d4;
    box-shadow: 0px 10px 16px rgba(135, 134, 131, 0.28);
    transform: translateY(10px);
    z-index: 9999;
    display: flex;
    left: -158px;
    width: 1170px;
    /* Styling for second triangle (border) */
  }
  header .navbar .nav-item.dropdown .dropdown--menu:after, header .navbar .nav-item.dropdown .dropdown--menu:before {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #fff;
    top: -11px;
    content: "";
    left: 176px;
    position: absolute;
  }
  header .navbar .nav-item.dropdown .dropdown--menu:before {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #e2e0d4;
    border-bottom-color: inherit;
    top: -12px;
    left: 175px;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul {
    flex: 1;
    padding: 32px;
    position: relative;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul:last-child {
    flex: 1.15;
  }
}

@media (min-width: 992px) and (min-width: 1000px) and (max-width: 1200px) {
  header .navbar .nav-item.dropdown .dropdown--menu ul:last-child {
    flex: 1;
  }
}

@media (min-width: 992px) {
  header .navbar .nav-item.dropdown .dropdown--menu ul:not(:last-child):after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 1px;
    background-color: #ebe8df;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li {
    margin-bottom: 14px;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li.active a {
    color: #fd3e72 !important;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li.active a svg path {
    fill: #fd3e72;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li.active a svg path.line {
    stroke: #fd3e72;
    fill: none;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li:last-child {
    margin-bottom: 0;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li.disabled a:hover {
    color: #5a5761;
    cursor: text;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li.disabled a:hover svg path {
    fill: #5a5761;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li.disabled a:hover svg path.line {
    stroke: #5a5761;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li a {
    display: inline-block;
    padding: 5px 0;
    transition: color 0.2s ease-in;
    color: #5a5761;
    font-family: "Averta";
    font-weight: 500;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li a:hover {
    color: #fd3e72;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li a:hover svg path {
    fill: #fd3e72;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li a:hover svg path.line {
    stroke: #fd3e72;
    fill: none;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li a svg {
    position: relative;
    top: -3px;
    margin-right: 5px;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li a svg path {
    transition: all 0.2s ease-in;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li:first-child, header .navbar .nav-item.dropdown .dropdown--menu ul li.browser {
    font-size: 14px;
    color: #8d8b92;
    padding-top: 0;
  }
  header .navbar .nav-item.dropdown .dropdown--menu.second, header .navbar .nav-item.dropdown .dropdown--menu.third {
    width: 280px;
    left: -25px;
  }
  header .navbar .nav-item.dropdown .dropdown--menu.second:before, header .navbar .nav-item.dropdown .dropdown--menu.second:after, header .navbar .nav-item.dropdown .dropdown--menu.third:before, header .navbar .nav-item.dropdown .dropdown--menu.third:after {
    left: 55px;
  }
  header .navbar .nav-item.dropdown .dropdown--menu.second:before, header .navbar .nav-item.dropdown .dropdown--menu.third:before {
    left: 54px;
  }
  header .navbar .nav-item.dropdown .dropdown--menu.second ul, header .navbar .nav-item.dropdown .dropdown--menu.third ul {
    float: none;
    width: 100%;
    padding-right: 0;
  }
  header .navbar .nav-item.dropdown .dropdown--menu.second ul li:not(:last-child), header .navbar .nav-item.dropdown .dropdown--menu.third ul li:not(:last-child) {
    margin-bottom: 5px;
  }
  header .navbar .nav-item.dropdown .dropdown--menu.second ul li:first-child a, header .navbar .nav-item.dropdown .dropdown--menu.third ul li:first-child a {
    color: #5a5761;
    font-size: 16px;
  }
  header .navbar .nav-item.dropdown .dropdown--menu.second ul li:first-child a:hover, header .navbar .nav-item.dropdown .dropdown--menu.third ul li:first-child a:hover {
    color: #fd3e72;
  }
}

@media (max-width: 991px) {
  header .navbar .nav-item.dropdown.active .dropdown--menu {
    display: block !important;
  }
  header .navbar .nav-item.dropdown.active .dropdown-toggle:after {
    transform: rotate(180deg);
  }
  header .navbar .nav-item.dropdown .dropdown--menu {
    padding: 0 0 0 20px;
    position: relative;
    top: -10px;
    display: none;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    border-left: 1px solid #dfddd6;
    margin-top: 20px;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul {
    text-align: left;
    padding-right: 0;
    position: relative;
    flex-basis: 30%;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul:last-child li:last-child {
    margin-bottom: 0;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul:last-child li:last-child a {
    margin-bottom: -12px;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul:nth-child(2) {
    margin-right: 4%;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li {
    line-height: 20px;
    margin-bottom: 8px;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li.active a {
    color: #fd3e72 !important;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li.active a svg path {
    fill: #fd3e72;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li.active a svg path.line {
    stroke: #fd3e72;
    fill: none;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li:last-child {
    margin-bottom: 20px;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li a {
    font-size: 16px;
    padding: 12px 10px;
    font-weight: 500;
    display: inline-block;
    transition: color 0.2s ease-in;
    color: #5a5761;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li a:hover {
    color: #fd3e72;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li a:hover svg path {
    fill: #fd3e72;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li a:hover svg path.line {
    stroke: #fd3e72;
    fill: none;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li a svg {
    position: relative;
    margin-right: 5px;
    top: -2px;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li a svg path {
    transition: all 0.2s ease-in;
  }
  header .navbar .nav-item.dropdown .dropdown--menu ul li:first-child, header .navbar .nav-item.dropdown .dropdown--menu ul li.browser {
    font-size: 16px;
    color: #8d8b92;
    padding: 0 10px 15px;
    margin-bottom: 0;
  }
  header .navbar .nav-item.dropdown .dropdown--menu.second, header .navbar .nav-item.dropdown .dropdown--menu.third {
    display: none;
  }
  header .navbar .nav-item.dropdown .dropdown--menu.second ul li, header .navbar .nav-item.dropdown .dropdown--menu.third ul li {
    padding: 0;
  }
  header .navbar .nav-item.dropdown .dropdown--menu.second ul li a, header .navbar .nav-item.dropdown .dropdown--menu.third ul li a {
    margin-left: 0;
    font-weight: 500;
  }
  header .navbar .nav-item.dropdown .dropdown--menu.second ul li:first-child a, header .navbar .nav-item.dropdown .dropdown--menu.third ul li:first-child a {
    margin-top: -12px;
  }
  header .navbar .nav-item.dropdown .dropdown--menu.second ul li:first-child a:hover, header .navbar .nav-item.dropdown .dropdown--menu.third ul li:first-child a:hover {
    color: #fd3e72;
  }
  header .navbar .nav-item.dropdown .dropdown--menu.second ul li:last-child, header .navbar .nav-item.dropdown .dropdown--menu.third ul li:last-child {
    margin-bottom: 0;
  }
  header .navbar .nav-item.dropdown .dropdown--menu.second ul li:last-child a, header .navbar .nav-item.dropdown .dropdown--menu.third ul li:last-child a {
    margin-bottom: -12px;
  }
}

@media (max-width: 991px) {
  header .navbar {
    padding: 13px 20px;
  }
  header .navbar .navbar-collapse {
    border-top: 1px solid #ebe8df;
    margin: 20px 0 0;
    max-height: 530px;
    overflow: auto;
  }
}

header .navbar .navbar-brand {
  margin-right: 33px;
  padding: 0 0 3px 0px;
}

header .navbar .navbar-brand img {
  height: 40px;
  width: 124px;
}

@media (max-width: 991px) {
  header .navbar .navbar-brand {
    margin: 0;
    padding: 0;
  }
  header .navbar .navbar-brand img {
    height: 35px;
  }
}

@media (max-width: 991px) {
  header .navbar .navbar-nav {
    padding-top: 15px;
  }
  header .navbar .navbar-nav .nav-item {
    font-size: 14px;
    line-height: 40px;
    margin-bottom: 8px;
  }
}

header .navbar .login .login-item {
  display: inline-block;
}

header .navbar .login .login-item:first-child {
  margin-right: 12px;
}

@media (max-width: 991px) {
  header .navbar .login .login-item:last-child {
    display: block;
    border-top: 1px solid #ebe8df;
    margin-top: 20px;
    padding-top: 25px;
  }
}

header .navbar .login .login-item .login-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  padding: 12px 14px 12px 0;
  display: block;
  transition: color 0.3s ease-in-out;
  font-family: "Averta";
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 991px) {
  header .navbar .login .login-item .login-link {
    color: #5b5863;
    font-size: 18px;
  }
}

header .navbar .login .login-item .login-link:hover {
  color: #fd3e72;
}

header .navbar .login .login-item .get-started {
  padding: 10px 20px;
  display: block;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  background-color: #fd3e72;
  text-decoration: none;
  color: #fff;
  font-family: "Averta";
  font-weight: 500;
  border-radius: 3px;
}

@media (max-width: 991px) {
  header .navbar .login .login-item .get-started {
    padding: 13.5px;
    color: #fff;
    background-color: #fd3e72;
  }
}

header .navbar .login .login-item .get-started:hover {
  background-color: #e33866;
}

.navbar-light .navbar-toggler {
  padding: 0;
  position: relative;
  border-radius: 0;
  border: 1px solid #e1e0de;
  width: 36px;
  height: 36px;
  border-radius: 3px;
}

.navbar-light .navbar-toggler img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-light .navbar-toggler img:last-child {
  display: none;
}

/* Start navbar toggler */
#nav-icon {
  width: 36px;
  height: 36px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  text-align: center;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ef4273;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

/* Icon 4 */
#nav-icon span:nth-child(1) {
  top: 12px;
  left: 14px;
  transform: rotate(-45deg);
  width: 8px;
  transform-origin: left top;
}

#nav-icon span:nth-child(2) {
  top: 20px;
  left: 11px;
  width: 16px;
  transform: rotate(-45deg);
  transform-origin: 10% center;
}

#nav-icon span:nth-child(3) {
  top: 25px;
  left: 13px;
  transform-origin: left top;
  transform: rotate(-45deg);
  width: 8px;
}

#nav-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 15px;
  left: 10px;
  width: 16px;
  transform-origin: 40% center;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: -2% center;
  top: 22px;
  left: 12px;
  width: 16px;
}

/* End navbar toggler */
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fd3e72;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Averta";
  font-weight: 500;
  color: #5b5863;
  font-size: 16px;
  line-height: 19px;
  transition: color 0.3s ease-in-out;
  padding: 12px 14px;
  position: relative;
  display: inline-block;
  z-index: 2;
}

@media (max-width: 991px) {
  .navbar-light .navbar-nav .nav-link {
    line-height: 25px;
    padding-left: 0;
    font-size: 18px;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .navbar-light .navbar-nav .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fd3e72 !important;
}

.dropdown-toggle::after {
  border: 0;
  color: #928e9d;
  vertical-align: middle;
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
  background-image: url(../imgs/arrow.svg);
  display: inline-block;
  width: 10px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

/* End Header */
/* Start Footer */
footer {
  background-color: #f2265e;
  padding-top: 70px;
}

@media (min-width: 768px) and (max-width: 991px) {
  footer {
    padding-top: 45px;
  }
}

@media (max-width: 767px) {
  footer {
    padding-top: 15px;
  }
}

footer.homepage-footer {
  padding-top: 370px;
}

@media (max-width: 767px) {
  footer.homepage-footer {
    padding-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  footer.homepage-footer {
    padding-top: 270px;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  footer.homepage-footer {
    padding-top: 280px;
  }
}

footer .footer-content {
  padding-bottom: 45px;
  display: flex;
  flex-wrap: wrap;
}

footer .footer-content .footer-item {
  flex: 1;
}

footer .footer-content .footer-item.sec-1 {
  flex: 0.8;
}

footer .footer-content .footer-item.sec-2 {
  flex: 1;
}

footer .footer-content .footer-item.sec-4 {
  flex: 1.1;
}

@media (min-width: 768px) and (max-width: 1199px) {
  footer .footer-content .footer-item.sec-5 {
    order: 6;
  }
}

footer .footer-content .footer-item.sec-6 {
  flex: 1.3;
}

footer .footer-content .footer-item.sec-6 .trustbox-footer {
  margin-top: 25px;
}

footer .footer-content .footer-item.sec-6 .trustbox-footer a {
  color: #fff;
}

footer .footer-content .footer-item.sec-6 .trustbox-footer iframe {
  max-width: 236px;
}

@media (max-width: 767px) {
  footer .footer-content .footer-item.sec-6 .trustbox-footer iframe {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  footer .footer-content .footer-item.sec-6 {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  footer .footer-content .footer-item.sec-6 {
    order: 5;
  }
}

@media (max-width: 1199px) {
  footer .footer-content .footer-item {
    width: 25%;
    flex: auto !important;
  }
  footer .footer-content .footer-item.sec-1 {
    width: 20%;
  }
  footer .footer-content .footer-item.sec-5 {
    width: 50%;
    margin-top: 50px;
  }
  footer .footer-content .footer-item.sec-6 {
    width: 50%;
    margin-top: 50px;
  }
}

@media (max-width: 991px) {
  footer .footer-content .footer-item {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  footer .footer-content .footer-item {
    width: 50% !important;
    flex: auto !important;
  }
  footer .footer-content .footer-item.sec-5, footer .footer-content .footer-item.sec-6 {
    width: 100% !important;
  }
}

footer .footer-content .footer-item-title {
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.6;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

footer .footer-content .footer-item-title.title-second {
  margin-top: 30px;
}

@media (max-width: 767px) {
  footer .footer-content .footer-item-title.title-second.sec-title {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  footer .footer-content .footer-item-title {
    margin-bottom: 20px;
  }
}

footer .footer-content .footer-item-list li {
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

footer .footer-content .footer-item-list li:not(:last-child) {
  margin-bottom: 18px;
}

@media (max-width: 991px) {
  footer .footer-content .footer-item-list li:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  footer .footer-content .footer-item-list li {
    font-size: 14px;
    line-height: 20px;
  }
}

footer .footer-content .footer-item-list li a {
  color: #fff;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

footer .footer-content .footer-item-list li a:hover {
  opacity: 0.8;
}

footer .footer-content .footer-item-list li .coming-soon,
footer .footer-content .footer-item-list li .beta {
  font-size: 10px;
  line-height: normal;
  background: #f44676;
  border-radius: 9px 9px 9px 0px;
  padding: 4px 8px;
  display: inline-block;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 991px) {
  footer .footer-content .footer-item-list li .coming-soon,
  footer .footer-content .footer-item-list li .beta {
    font-size: 9px;
  }
}

@media (max-width: 1199px) {
  footer .footer-content .footer-item-list.social-links {
    display: flex;
    flex-wrap: wrap;
  }
  footer .footer-content .footer-item-list.social-links li {
    width: 50%;
  }
  footer .footer-content .footer-item-list.social-links li:nth-child(5), footer .footer-content .footer-item-list.social-links li:nth-child(6) {
    margin-bottom: 0 !important;
  }
}

footer .footer-content .footer-item-list.social-links li {
  line-height: 20px;
}

footer .footer-content .footer-item-list.social-links li a {
  display: flex;
  align-items: center;
}

footer .footer-content .footer-item-list.social-links li .icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
  display: inline-flex;
  margin-right: 12px;
}

@media (max-width: 991px) {
  footer .footer-content .footer-item-list.social-links li .icon {
    line-height: 32px;
  }
}

footer .footer-content .footer-item-list.social-links li .icon svg {
  margin: auto;
}

footer .footer-content .footer-item .discord-link {
  margin-bottom: 36px;
}

@media (max-width: 1199px) {
  footer .footer-content .footer-item .discord-link {
    margin-bottom: 24px;
  }
}

footer .footer-content .footer-item .vti-logo {
  margin-top: 25px;
  width: 220px;
  height: 76px;
}

footer .footer-content .footer-item .ioxt-logo {
  margin-top: 35px;
  display: block;
  width: 159px;
  height: 69px;
}

@media (max-width: 767px) {
  footer .footer-content .footer-item .eff {
    text-align: left;
  }
}

footer .footer-content .footer-item .eff .logo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

footer .footer-content .footer-item .eff .logo img {
  margin-right: 10px;
  width: 34px;
  height: 35px;
}

footer .footer-content .footer-item .eff .logo h4 {
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

footer .footer-content .footer-item .eff p {
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
}

@media (max-width: 1199px) {
  footer .footer-content .footer-item .eff p {
    max-width: 300px;
  }
}

footer .copyright {
  padding: 25px 0;
  background-color: #f1134f;
}

@media (min-width: 768px) and (max-width: 991px) {
  footer .copyright {
    text-align: center;
  }
}

footer .copyright .copyright-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 991px) {
  footer .copyright .copyright-content {
    flex-direction: column;
  }
}

footer .copyright .copyright-txt {
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
}

@media (max-width: 991px) {
  footer .copyright .copyright-txt {
    text-align: center;
  }
  footer .copyright .copyright-txt p {
    font-size: 14px;
    line-height: 28px;
    opacity: 0.7;
  }
}

footer .copyright .copyright-txt p {
  margin: 0;
}

@media (max-width: 991px) {
  footer .copyright .copyright-txt p {
    margin-bottom: 20px;
  }
}

footer .copyright .copyright-logos {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media (max-width: 991px) {
  footer .copyright .copyright-logos {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}

footer .copyright .copyright-logos li {
  margin: 0 12px;
}

@media (max-width: 767px) {
  footer .copyright .copyright-logos li {
    margin: 0 12px 10px;
  }
}

@media (max-width: 767px) {
  footer .copyright .copyright-logos li img {
    transform: scale(1.2);
  }
}

/* End Footer */

/*# sourceMappingURL=global.css.map */
